doctype html 
html 
    head 
        title My Dance Academy 
        block style 
        block scripts 
    body 
        nav#navbar 
            ul 
                div#logo
                    img(src='/static/logo.png')

                    p DFD
                
                li #[a(href = "/") Home ]
                li #[a(href = "/") About ]
                li #[a(href = "/") Services ]
                li #[a(href = "/") Class Info]
                li #[a(href = "/") Contact Us]
        block content 
            
    footer#footer 
        | Copyrights MyDanceAcademy | All Rights Reserved